{% extends 'art/base.html' %}

{% block content %}

{{block.super}}

{{category.title}}


    <div class="row" style="margin-top: 40px;">

        <div class="container">

            <div class="row">
              {% if art%}
                <h4>Found {{ art|length }} of location </h4>
              {% else %}
                <h4> Found 0 location{{message}}</h4>
              {% endif %}
          
            </div>

        {% if art %}
        {% for art in art %}
       

        <div class="row" style="color: white;">
                <div class="col-md-6">
  
                  <div class="media-body">
  
                    <div class="article-metadata">
                      
  
  
  
                    </div>
  
                    <h2 class="article-title">{{ art.art_name }}</h2>
                    <p class="article-content">{{ art.art_description }}</p>
  
                  </div>
  
                </div>


                <div class="col-md-6">
                        <div class="card-body">
              
                          <div class="card-content">
                              <img src="{{art.art_image.url}}" class="materialboxed"  class="img-responsive" alt="Image"  width="550vh" height="300vh">
                          </div>
              
                        </div>
                      </div>

              </div>


    {% endfor %}


  {% endif %}
    






  {% endblock %}